* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    font-size: 62.5%;
}

:root {
    
    --font1: 'Nunito Sans', sans-serif;

    --darkBlue: 209, 23%, 22%;
    --veryDarkBlue: 207, 26%, 17%;
    --veryDarkGray: 200, 15%, 8%;
    --darkGray: 0, 0%, 52%;
    --veryLightGray: 0, 0%, 98%;
    --white: 0, 0%, 100%;

}

.inactive {
    display: none;
}

.darkModeElements {
    background-color: hsl(var(--darkBlue));
    color: hsl(var(--white));
    box-shadow: 0px 0px 7px hsl(var(--veryDarkGray),25%);
    border: none;
}

.lightModeElements {
    background-color: hsl(var(--white));
    color: hsl(var(--veryDarkGray));
    box-shadow: 0px 0px 7px hsl(var(--darkGray),25%);
    border: none;
}

.darkModeBackground {
    background-color: hsl(var(--veryDarkBlue));
}

.ligthModeBackground {
    background-color: hsl(var(--veryLightGray));
}

.font-size14px {
    font-size: 1.4rem;
}

.font-size16px {
    font-size: 1.6rem;
}

.font-weight300 {
    font-weight:300;
}

.font-weight600 {
    font-weight:600;
}

.font-weight800 {
    font-weight:800;
}

.flex {
    display: flex;
    align-items: center;
}

.column {
    flex-direction: column;
}

.cursorPointer {
    cursor: pointer;
}

.marginTop20px {
    margin-top: 20px;
}

body {
    font-family: var(--font1);
    font-size: 1.4rem;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkModeTextLightModeElements);
    padding: 0px 20px;
    margin-bottom: 20px;
}

span {

    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-right: 10px;
}


.darkModeIconLight {
    
    width: 16px;
    height: 16px;
    background-image: url(./design/Assets/darkModeIconLight.png);

}

.darkModeIconDark {

    width: 16px;
    height: 16px;
    background-image: url(./design/Assets/darkModeIconDark.png);

}

.downArrowIconLight {

    width: 7px;
    height: 5px;
    background-image: url(./design/Assets/downArrowIconLight.png);
    position: absolute;
    top:20px;
    right: 5px;

}


.downArrowIconDark {

    width: 7px;
    height: 5px;
    background-image: url(./design/Assets/downArrowIconDark.png);
    position: absolute;
    top:20px;
    right: 5px;

}

.searchIconLight {

    width: 16px;
    height: 16px;
    background-image: url(./design/Assets/searchIconLight.png);
    position: relative;
    left: 50px;
    top: 15px;
    cursor: pointer;
    z-index: 1;

}

.searchIconDark {

    width: 16px;
    height: 16px;
    background-image: url(./design/Assets/searchIcondark.png);
    position: relative;
    left: 50px;
    top: 15px;
    cursor: pointer;
    z-index: 1;

}


input {
    padding: 15px 75px;
    align-self: stretch;
    margin: 0px 20px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.lightModeElements::placeholder {
    color: hsl(var(--darkGray));
}

.darkModeElements::placeholder {
    color: hsl(var(--veryLightGray));
}

.regionContainer {

    width: 55%;
    min-width: 175px;
    max-width: 250px;
    align-self: flex-start;
    margin: 0px 20px;
    margin-bottom: 40px;
    position: relative;

}

button {

    width: 100%;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: start;
    position: relative;
    cursor: pointer;
}

button:hover, input:hover,#darkModeButton:hover, .menu div:hover, .searchIconDark:hover, .searchIconLight:hover {
    opacity: 75%;

}

.menu {
    
    width: 100%;
    padding: 15px 20px;
    position: absolute;
    top: 50px;
    font-weight: 600;
    border-radius: 5px;
    z-index: 1;
}

.menu div {
    cursor: pointer;
    margin-bottom: 5px;

}

.countriesContainer {
    padding: 15px 20px;
}

.countriesContainer>div {
    align-items: flex-start;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.countriesContainer>div:hover {

    scale: 105%;
    opacity: 85%;
}

.countriesContainer>div>div {
    margin-bottom: 10px;
    margin-left: 20px;
}

img {
    width: 100%;
    margin-bottom: 40px;
    border-radius: 10px 10px 0px 0px;
}

.inputSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    position: absolute;
}